/* スマートフォンの画面サイズ */
@media (max-width: 480px) {
    .container {
      width: 100%;
    }
    .section {
      margin-top: 30px;
      padding: 10px;
    }

    /* page1*/
    

    .back {
        position: absolute;
        width: 103%;
        height: 35%;
        top: 5%;
        left: -3%;
        background-size: cover;
        
      }
      .logo {
        position: absolute;
        width: 35%;
        top: 0%;
        left: 5%;
      }
      .back2 {
        position: absolute;
        width: 100%;
        top: 30%;
        height: 10%;
        left: 0; 
        z-index: 10;
        border-bottom: solid 3px green;
      }
      .charaA{
        z-index: 10;
        position: absolute;
        width: 35%;
        top: 8%;
        right: 5%;
          transform: translateY(10%);
          opacity: 0; /* 初期状態は非表示 */
          bottom: -50px; /* 下に50px移動 */
        animation: fadein 3s ease forwards; /* 2秒かけてフェードイン */ 
      }
      @keyframes fadein {
        from {
          opacity: 0;
          bottom: -50px;
        }
        to {
          opacity: 1;
          bottom: 0;
        }
      }
      

      .message1{
        position: absolute;
        top: 8%;
        left: 8%;
        font-size: 10px;
        z-index: 20;
        color: white;
  text-shadow:1px 1px 0 #000000, -1px -1px 0 #000000,
              -1px 1px 0 #040404, 1px -1px 0 #000000,
              0px 1px 0 #000000,  0-1px 0 #000000,
              -1px 0 0 #000000, 1px 0 0 #000000;
      }
      .message2{
        position: absolute;
        width: 70%;
        top: 134%;
        left: 16%;
      }
      
      .cloud1{
        position: relative;
        width: 35%;
        top: 38%;
        left: 7%;
      }
      .cloud2{
        position: relative;
        width: 20%;
        top: 18%;
        right: 5%;
      }
      .cloud3{
        position: absolute;
        width: 50%;
        right: -15%;
      }
        .idou{
          z-index: -10;
          position: absolute;
        top: 5%;
        animation-name:idou;
        animation-duration:7s;
        animation-timing-function:ease;
        animation-iteration-count:infinite;
        animation-direction:alternate;
        } 
        @keyframes idou{
        100%{transform:translate(20%,0px);}
        } 

        
      .icon1 {
        position: absolute;
        top: 145%;
        width: 30%;
      }
      .icon2{
        position: absolute;
        top: 145%;
        width: 30%;
        left: 35%;
      }
      .icon3{
        position: absolute;
        top: 145%;
        width: 30%;
        left: 68%;
      }
      .icon4{
        position: absolute;
        top: 165%;
        width: 30%;
      }
      .icon5{
        position: absolute;
        top: 165%;
        width: 30%;
        left: 35%;
      }
      .icon6{
        position: absolute;
        top: 165%;
        width: 30%;
        left: 68%;
      }

      .message3{
        position: absolute;
        top: 195%;
        left: 7%;
        font-size: 12px;
      }

      .icon1b {
        position: absolute;
        top: 85%;
        width: 30%;
      }
      .icon2b{
        position: absolute;
        top: 85%;
        width: 30%;
        left: 35%;
      }
      .icon3b{
        position: absolute;
        top: 85%;
        width: 30%;
        left: 68%;
      }
      .icon4b{
        position: absolute;
        top: 105%;
        width: 30%;
      }
      .icon5b{
        position: absolute;
        top: 105%;
        width: 30%;
        left: 35%;
      }
      .icon6b{
        position: absolute;
        top: 105%;
        width: 30%;
        left: 68%;
      }

      .message3b{
        position: absolute;
        top: 135%;
        left: 7%;
        font-size: 12px;
      }

/* page2 */
      .back3 {
        position: absolute;
        width: 105%;
        height: 70%;
        top: 60%;
        left: -3%;
        background-size: cover;
        
      }
      .chara1{
        position: absolute;
        width: 50%;
        top: 16%;
        left: 23%;
      }

      .art1{
        position: absolute;
        width: 30%;
        z-index: 10;
        top: 56%;
        right: 12%;
        border: 1px solid #ccc; /* 枠線の太さと色 */
        padding: 5px; /* 画像と枠線の間の余白 */
        display: inline-block; /* 画像を中央揃えするために必要 */
      }
      
      .next2{
        position: absolute;
        width: 10%;
        top: 33%;
        right: 5%;
      }
      .page2coment{
        position: absolute;
        top: 54%;
        left: 12%;
        font-size: 12px;
        z-index: 10;
      }
      .name1{
        font-size: 20px;
      }
      
      .next3{
        position: absolute;
        width: 10%;
        top: 33%;
        right: 5%;
  }
  .return1{
    position: absolute;
    width: 10%;
    top: 33%;
    left: 5%;
}


/* banner1 */
.renga{
  width:  102%;
  position: absolute;
  top: 40%;
  left: -2%;
  border-bottom:solid 3px brown; 
}
 .banner1{
  width: 60%;
  z-index: 10;
  position: absolute;
  top: 48%;
  left: 20%;
 }
 .banner2{
  width: 60%;
  z-index: 10;
  position: absolute;
  top: 65%;
  left: 20%;
 }
 .banner3{
  width: 60%;
  z-index: 10;
  position: absolute;
  top: 83%;
  right: 20%;
 }
 .banner4{
  width: 60%;
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 20%;
 }

/* index2 */
.charaB{
  z-index: 10;
  position: absolute;
  width: 40%;
  top: 18%;
  right: 5%;
    transform: translateY(10%);
    opacity: 0; /* 初期状態は非表示 */
    bottom: -50px; /* 下に50px移動 */
  animation: fadein 3s ease forwards; /* 2秒かけてフェードイン */ 
}
@keyframes fadein {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

.message4{
  position: absolute;
  top: 14%;
  left: 18%;
  font-size: 12px;
  z-index: 20;
}
.fukidashi{
  position: absolute;
  top: 10%;
  left: 12%;
  width: 65%;
}

.back4{
  width: 102%;
  position: absolute;
  top: 40%;
  left: -2%;
}
.back5{
  width: 102%;
  position: absolute;
  top: 70%;
  left: -2%;
}
.back6{
  width: 102%;
  position: absolute;
  top: 100%;
  left: -2%;
}
.back7{
  width: 102%;
  position: absolute;
  top: 115%;
  left: -2%;
  border-bottom: solid 3px black;
}

.art2{
  position: absolute;
  width: 40%;
  top: 50%;
  left: 5%;
}
.art3{
  position: absolute;
  width: 40%;
  top: 50%;
  right: 5%;
}
.art4{
  position: absolute;
  width: 40%;
  top: 70%;
  left: 5%;
}
.art5{
  position: absolute;
  width: 40%;
  top: 70%;
  right: 5%;
}
.art6{
  position: absolute;
  width: 40%;
  top: 90%;
  left: 5%;
}
.art7{
  position: absolute;
  width: 40%;
  top: 90%;
  right: 5%;
}
.art8{
  position: absolute;
  width: 40%;
  top: 110%;
  left: 5%;
}
.art9{
  position: absolute;
  width: 40%;
  top: 110%;
  right: 5%;
}
.art10{
  position: absolute;
  width: 40%;
  top: 130%;
  left: 5%;
}
.message3b{
  position: absolute;
  top: 160%;
  font-size: 16px;
}

}
